logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.settings
.idea
.vscode
.DS_Store
.scannerwork
/esdata
/modules/admin/.idea/workspace.xml
/modules/admin/.idea/.name
/modules/admin/.idea/compiler.xml
/modules/admin/.idea/misc.xml
/modules/admin/.idea/modules.xml
/modules/admin/.idea/play2_project_settings.xml
/modules/admin/.idea/sbt.xml
/modules/admin/.idea/scala_compiler.xml
/modules/admin/.idea/vcs.xml
/modules/admin/.settings
/modules/admin/.idea
/modules/admin/.idea/libraries
/modules/admin/.idea/modules
/modules/admin/.idea/copyright
/modules/common/.idea/workspace.xml
/modules/common/.idea/copyright
/modules/common/.idea/.name
/modules/common/.idea/compiler.xml
/modules/common/.idea/misc.xml
/modules/common/.idea/modules.xml
/modules/common/.idea/sbt.xml
/modules/common/.idea/vcs.xml
/target
/modules/common/target
/modules/admin/target
/modules/web/target
/activator
/activator.bat
/activator-launch-1.3.4.jar
/run.bat
/.env
lcdp.env
.*.swp
*.iml
.g8